.nav-img {
  width: 150px;
  height: 100px;
}

.container {
  background-color: rgb(218, 22, 22);
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
}
li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none; /* Determination the line under the links */
  color: black;
}
